<extend name="Public/base"/>

<block name="body">
    <empty name="data">
        <div class="main-title">
            <h2>请指定你的班车</h2>
        </div>
        <else />
            <div class="main-title">
                <h2>新增班车类型</h2>
            </div>
            <form action="{:U()}" method="post" class="form-Route-add">
                <div class="form-item">
                    <label class="item-label">下车码已生成</label>
                    <div class="controls">
                        <img src="{$data}" />
                    </div>
                </div>
                <br />
                <div class="form-item">
                    <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                </div>
            </form>
        </empty>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Bus/busDoCode')}');

        $(function(){
            $(".Rotue-subbtn").click(function(){

            })
        })
    </script>
</block>
