<!-- 导航条
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{:U('index/index')}">big bus</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                        <li>
                            <a href="javascript:void(0)" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">城市公交大巴免费坐</a>
                        </li>
                </ul>
                <div class="switch" id="switch">

                    <ul class="nav" style="margin-right:0;float:right;">
                        <empty name="data" >
                        <li><a href="{:U('User/login')}">登录</a></li>
                        <li><a href="{:U('User/register')}" style="padding-left:0;padding-right:0">注册</a></li>

                        <else />
                        <li><a>{$data.username}</a></li>
                        <li><a href="{:U('User/logout')}" >退出</a></li>
                    </empty>
                    </ul>
                    <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
                </div>
            </div>

        </div>

    </div>
</div>
