<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>司机信息</h2>
	</div>
	<!--<div class="cf">

        &lt;!&ndash; 高级搜索 &ndash;&gt;
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>-->
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">姓名</th>
		<th class="">性别</th>
		<th class="">手机号</th>
		<th class="">年龄</th>
		<th class="">驾龄</th>
		<th class="">身份证号</th>
		<th class="">注册时间</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="data">
		<volist name="data" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td><a href="{:U('Driver/detail?drid='.$vo['id'])}">{$vo.nickname}</a></td>
			<if condition="$vo.sex eq 0 ">
				<td >男</td>
			<else />
				<td >女</td>
			</if>
			<td>{$vo.mobile}</td>
			<td>{$vo.age}</td>
			<td>{$vo.driv_ex}
			<td>{$vo.identitycardno}</td>
			<td>{$vo.time}</td>
			<if condition="$vo.level eq 0">
				<td>普通会员</td>
			<elseif condition="$vo.level eq 1"/>
				<td style="color:red;">VIP会员</td>
			<else />
				<!--end...-->
			</if>
			<td>
				<!--<a href="{:U('Bus/get_oper?method=deletsrank&id='.$vo['id'])}" class="confirm ajax-get"  >删除</a>-->
				<a href="{:U('Driver/del?method=deletsdrive&id='.$vo['id'])}" class="confirm ajax-get" >删除</a>
			</td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> oh! 目前还没有司机! 尽快招聘吧~ </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="pages">
        {$page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Driver/index')}');
	</script>
</block>
