<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview" style="text-align: center;">
        <div class="container">
            <h2>BIG BUS 共享大巴！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->

</block>

<block name="body">
    <div class="span9" style="text-align: center;" >

        <a href="__ROOT__/admin.php" style="text-decoration: none;">
            <h1 style="margin-top: 80px;margin-left: 440px;">
            进入管理中心
            </h1>
        </a>
        </section>
    </div>
</block>